nav {
    background-color: black;
    margin: 0;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
nav a {
      text-decoration: none;
      color: white;
      font-family: 'Baloo Tammudu 2', cursive;
      font-size: xx-large;
  }